<section class="section-block-hobbies">

    <header>
        <div class="arrow-n-head">

            <h3 class="hobbies">HOBBIES</h3>

        </div>
    </header>
    
    <div class="icons">
        <div class="d-flex justify-content-around flex-wrap">

            <div class="hobby-item" (click)="onHobby('Travel') ">
                <div class="hobby-icon"><i class="fa-solid fa-earth-americas"></i></div>
                <p>Travel</p>
            </div>

            <div class="hobby-item" (click)="onHobby('Music')">
                <div class="hobby-icon"><i class="fas fa-headphones"></i></div>
                <p>Music</p>
            </div>

            <div class="hobby-item" (click)="onHobby('Writing')">
                <div class="hobby-icon"><i class="fas fa-file-edit"></i></div>
                <p>Writing</p>
            </div>

            <div class="hobby-item" (click)="onHobby('Chess')">
                <div class="hobby-icon"><i class="fas fa-chess-knight"></i></div>
                <p>Chess</p>
            </div>
            
        </div>
    </div>
</section>
