<section class="section-block-experience">

    <header>
        <h5 class="experience">EXPERIENCE</h5>
    </header>
    
    <div class="job-block">
      @for (item of experience; track item.position) {
      <div class="job-entry">
        <h6>{{ item.position }}</h6>
        <h6 class="company-name">
          <span [class]="item.isCurrent ? 'present' : 'years'">
            {{ item.period }}
          </span> 
          {{ item.company }}
        </h6>
        <p>{{ item.description }}</p>
    </div>
  } @empty {
    <p>No work experience</p>
  }
</div>
</section>
