@use "variables" as v;
@use "mixins" as m;
@use "extend";
@use "../../sidebar.scss";

.section-block-about {
  .about-me{
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 12px;
      height: 19px;
      background-color: v.$yellow;
      left: 20px;
      top: 4.5px;
      z-index: 1;
    }
    &::after{
      content: ""; 
      display: block;
      position: absolute;
      background: v.$yellow;
      width: 15px;
      height: 2.5px;
      left:160px;
      bottom: -5px;
    }
  }
  
  p{
    padding: 20px 40px 60px 0;
    font-size: 12.9px;
    color: v.$grey-main-content;
    font-family: v.$Montserrat;
    font-weight: 400;
    letter-spacing: 1.2px;
  }
}
