<section class="section-block-education">
    
    <header>
        <div class="ribbon-bg-main"></div>
        <h5 class="education">EDUCATION</h5>
    </header>
  

    <div class="row enter-your-major">
        <div class="col-6 ">
            <h6>ENTER YOUR MAJOR</h6>
            <p>Name Of Your University<br>2005-2009</p>
        </div>
        <div class="col-6 " >
            <h6>ENTER YOUR MAJOR</h6>
            <p>Name Of Your University<br>2005-2009</p>
        </div>
    </div>
</section>
