@use "variables" as v;

.resume-inner {
  max-width: 870px;
  margin: 120px auto 90px auto ;
  background-color: v.$white;
  box-shadow: 0 0 50px v.$shadow;
  position: relative;
}

.footer-colum-1{
  padding-top: 27px;
}

.footer-colum-2{
  background-color: v.$yellow;
}

.btn-save{
  position: absolute;
  border-color: black;
  margin-top: -60px;
  margin-left: 40px;
  border-radius: 10px;
  background-color: v.$yellow;
  color: v.$gray;
  font-family: v.$Montserrat;
  font-weight: 600;
  &:hover{
    transform: scale(1.04);
  }
}