@use  "variables" as v;


nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    height: 50px;
    background-color:v.$gray ;
    color:v.$white-main-content;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.MyResumeApp{
    font-family: v.$Montserrat;
    border: none;
    background: none;
    color: v.$white-main-content;
    margin: 10px 50px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    &:hover{
        color:rgb(173, 173, 173)
    }
}

.exit{
    font-family: v.$Montserrat;
    justify-content: flex-end;
    border: none;
    background: none;
    color: v.$white-main-content;
    margin: 10px 150px;
    font-weight: 600;
    font-size: 20px;
    &:hover{
        color:rgb(255, 120, 120)
    }
}