<div class="login-container">
  <div>Login</div>
  @if(showErrorMessage){
    <div class="error-message">
      Невірний логін або пароль!
    </div>
  }
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    
    <input class="userInput" type="text" formControlName="username" placeholder="Username">
    
    <input class="passwordInput" type="password" formControlName="password" placeholder="Password">

    <button class="btnConfirm" type="submit" [disabled]="loginForm.invalid">Confirm</button>
  </form>
</div>