$yellow:#ffc905;

$gray-ribbon-main:#373c42;
$gray-main-content:#2b3036;
$gray:#363636;

$white:#ffffff;
$white-main-content:#ececec;

$black:#000000;

$shadow:rgba(0, 0, 0, 0.60);


$Montserrat: "Montserrat", sans-serif;
$Poppins: "Poppins", sans-serif;
$Oswald: "Oswald", sans-serif;
