/* You can add global styles to this file, and also import other style files */
@use  "variables" as v;

app-root, app-header, app-main-content, app-sidebar{
  display: contents;
}

.resume-bg {
  background: #e4e4e4;
}

@media screen and (max-width: 767px) {
  .resume-inner{
    width: 696px;
  }
  body{
    overflow-x: auto;
  }
}
