/* You can add global styles to this file, and also import other style files */
@use  "variables" as v;


app-root, app-header, app-main-content, app-sidebar{
  display: contents;
}

.resume-bg {
  background: v.$resume-bg;
}

.resume-inner {
  max-width: 870px;
  margin: 120px auto 90px auto ;
  background-color: v.$white;
  box-shadow: 0 0 50px v.$shadow;
  position: relative;
}

.footer-colum-1{
  padding-top: 27px;
}

.footer-colum-2{
  background-color: v.$yellow;
}

@media screen and (width<=767px) {
  .resume-inner{
    width: 696px;
  }
  body{
    overflow-x: auto;
  }
}

